<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
        integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

        .navbar-toggler-icon {
            color: black;
        }

        button:focus {
            outline: none !important;
        }
    </style>
</head>

<body style="padding-top: 3.5rem;">
    <nav class="navbar fixed-top navbar-expand-lg shadow shadow-sm navbar-light bg-light "
        style="border-top: 3px solid rgb(255, 137, 78);">
        <div class="container-fluid px-md-5">
            <a class="navbar-brand" href="/">MyPapers.shop</a>
            <span class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/projects">Campaigns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/taxonomies">Help</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled">About</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="d-flex lead align-items-center">
                        <i class="bi bi-facebook mx-2 ml-0"></i>
                        <i class="bi bi-whatsapp mx-2"></i>
                        <i class="bi bi-envelope mx-2"></i>
                        <a class="btn d-block btn-danger mx-2 mr-0" type="submit"
                            href="https://app.mypapers.shop">Explore</a>
                    </div>


                </div>
            </div>
        </div>
    </nav>



    <!-- Default Site ads -->
    <div class="my-5">
        <div class="py-5">
            <div class="container">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>Create Campaing</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequuntur iusto officia
                                incidunt dolores dignissimos quasi qui consectetur aliquam praesentium provident
                                aspernatur sit? Incidunt expedita vitae laudantium. Ex, fugiat tempore?</p>
                            <button class="btn btn-outline-light" type="button">Get started</button>
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Join Campaign</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores qui velit ipsa,
                                corporis ut, ducimus itaque, sed recusandae veniam quam esse neque inventore labore?
                                Quae eum facilis optio asperiores?</p>
                            <button class="btn btn-outline-secondary" type="button">Explore</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content goes here -->
    <div>


        <style>
            #cover {
                box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
                background-position: left;
                background: url('https://firebasestorage.googleapis.com/v0/b/renosnuggets-01.appspot.com/o/serious-african-american-student-working-research.jpg?alt=media&token=67a6dbf1-1671-4533-a7f6-87b0bdd64e8c');
                background-size: cover;
            }
        </style>
        <div id="cover">
            <div class="container-fluid py-5 px-md-5">
                <div class="row align-items-center justify-content-center text-center" style="min-height: 60vh;">
                    <div class="col-md-6">
                        <h1 class="fw-bold text-light">Project resources for everyone.</h1>
                        <p class="md-lead text-light">Find project resouces for your project work</p>

                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control  form-control-lg shadow-none outline-none"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                            <button class="btn btn-primary" type="button" id="button-addon2"><i
                                    class="bi bi-search"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer goes here -->



    <div class="bg-dark text-muted py-3">
        <div class="container">
            <footer class="row">
                <div class="col-12 text-center">
                    <h6 class="fw-bold" style="color: rgb(19, 98, 245);">MyPapers.Shop</h6>
                    <p>Copyright © 2021 mypapers.shop All rights reserved</p>

                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Legal Info
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/cookies-policies">Cookies policy</a></li>
                            <li><a class="dropdown-item" href="/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a class="dropdown-item" href="/fair-use-policy">Fair use</a></li>
                        </ul>
                    </div>

                    <div class="my-3 text-muted" style="">
                        <a><i class="bi bi-facebook fs-3"></i></a>
                        <a><i class="bi bi-whatsapp fs-3 mx-2"></i></a>
                        <a><i class="bi bi-twitter fs-3"></i></a>
                    </div>
                </div>

            </footer>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
        integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
        integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>


</body>

</html>
index.html
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
        integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

        .navbar-toggler-icon {
            color: black;
        }

        button:focus {
            outline: none !important;
        }
    </style>
</head>

<body style="padding-top: 3.5rem;">
    <nav class="navbar fixed-top navbar-expand-lg shadow shadow-sm navbar-light bg-light "
        style="border-top: 3px solid rgb(255, 137, 78);">
        <div class="container-fluid px-md-5">
            <a class="navbar-brand" href="/">MyPapers.shop</a>
            <span class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/projects">Campaigns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/taxonomies">Help</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled">About</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="d-flex lead align-items-center">
                        <i class="bi bi-facebook mx-2 ml-0"></i>
                        <i class="bi bi-whatsapp mx-2"></i>
                        <i class="bi bi-envelope mx-2"></i>
                        <a class="btn d-block btn-danger mx-2 mr-0" type="submit"
                            href="https://app.mypapers.shop">Explore</a>
                    </div>


                </div>
            </div>
        </div>
    </nav>



    <!-- Default Site ads -->
    <div class="my-5">
        <div class="py-5">
            <div class="container">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>Create Campaing</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequuntur iusto officia
                                incidunt dolores dignissimos quasi qui consectetur aliquam praesentium provident
                                aspernatur sit? Incidunt expedita vitae laudantium. Ex, fugiat tempore?</p>
                            <button class="btn btn-outline-light" type="button">Get started</button>
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Join Campaign</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores qui velit ipsa,
                                corporis ut, ducimus itaque, sed recusandae veniam quam esse neque inventore labore?
                                Quae eum facilis optio asperiores?</p>
                            <button class="btn btn-outline-secondary" type="button">Explore</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content goes here -->
    <div>


        <style>
            #cover {
                box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
                background-position: left;
                background: url('https://firebasestorage.googleapis.com/v0/b/renosnuggets-01.appspot.com/o/serious-african-american-student-working-research.jpg?alt=media&token=67a6dbf1-1671-4533-a7f6-87b0bdd64e8c');
                background-size: cover;
            }
        </style>
        <div id="cover">
            <div class="container-fluid py-5 px-md-5">
                <div class="row align-items-center justify-content-center text-center" style="min-height: 60vh;">
                    <div class="col-md-6">
                        <h1 class="fw-bold text-light">Project resources for everyone.</h1>
                        <p class="md-lead text-light">Find project resouces for your project work</p>

                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control  form-control-lg shadow-none outline-none"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                            <button class="btn btn-primary" type="button" id="button-addon2"><i
                                    class="bi bi-search"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer goes here -->



    <div class="bg-dark text-muted py-3">
        <div class="container">
            <footer class="row">
                <div class="col-12 text-center">
                    <h6 class="fw-bold" style="color: rgb(19, 98, 245);">MyPapers.Shop</h6>
                    <p>Copyright © 2021 mypapers.shop All rights reserved</p>

                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Legal Info
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/cookies-policies">Cookies policy</a></li>
                            <li><a class="dropdown-item" href="/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a class="dropdown-item" href="/fair-use-policy">Fair use</a></li>
                        </ul>
                    </div>

                    <div class="my-3 text-muted" style="">
                        <a><i class="bi bi-facebook fs-3"></i></a>
                        <a><i class="bi bi-whatsapp fs-3 mx-2"></i></a>
                        <a><i class="bi bi-twitter fs-3"></i></a>
                    </div>
                </div>

            </footer>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
        integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
        integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>


    <script src="//code.tidio.co/izoxflq2hwqhluo2rtsoqct6ge1pegp4.js" async></script>

</body>

</html>