{% extends "organization/base.html" %}
{% block content %}


  <a class="" href="{% url 'create-organization' %}">Create Organization</a>
  <div style="display: flex; ">
  {% for organization in organizations %}

    <div class="col-sm-6 col-lg-4 mb-4">
      <div style="margin-right: 2rem;" class="card">
        <img class="workspace-img" src="{{ organization.profile_pic.url }}">
        <div class="card-body">
          <a class="card-title" href="{{ organization.get_absolute_url}}">{{ organization.name }}</a>
          <p class="card-text">{{ organization.description}}</p>
          <p><small class="tiny">{{ organization.created_at | date:'F d, Y' }}</small></p>
        </div>
        {% if organization.head == user %}
          <a href="{% url 'organization-details' organization.id %}"><button type="button" class="btn btn-primary">See more</button></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}