{% extends "organization/base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mono Connect test</title>
    <style>
        .p-5 {
            padding: 5em;
        }
    </style>
    <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
</head>
<body>
  <div className="p-5">

          <div >
          <div class="col-sm-6 col-lg-4 mb-4">
            <div style="margin-right: 2rem;" class="card">
              <img class="workspace-img" src="{{ object.profile_pic.url }}">
              <div class="card-body">
                <a class="card-title" href="{{ object.get_absolute_url}}">{{ object.name }}</a>
                <p class="card-text">{{ object.description}}</p>
                    <p>Welcome to Mono Connect.</p>
                    <button class="btn btn-primary" id="launch-btn">Link a financial account</button>
              </div>
              {% if object.head == user %}
              <div class="fa-icon">
               <a href="{% url 'organization-delete' object.id %}"><button type="button" class="btn btn-danger">Delete</button></a>

                <a href="{% url 'organization-update' object.id %}"><button type="button" class="btn btn-info">Update</button></a>
                 <a href="{% url 'contributors' object.id %}"><button type="button" class="btn btn-info">Add People</button></a>
              </div>
              {% endif %}
            </div>
          </div>
      </div>


</div>
<script type="application/javascript">
  const copyToClipboard = text => {
    const elm = document.createElement('textarea');
    elm.value = text;
    document.body.appendChild(elm);
    elm.select();
    document.execCommand('copy');
    document.body.removeChild(elm);
  };
  var connect;
  var config = {
    key: "test_pk_Gz4Io64VpimAFRVT08SG",
    onSuccess: function (response) {
      // fetch("/collect/{{ object.id }}/?"+response.code);
      window.location = "https://explicitboard.herokuapp.com/collect/{{ object.id }}/?" + response.code;

    },
  };
  connect = new Connect(config);
  connect.setup();
  var launch = document.getElementById('launch-btn');
  launch.onclick = function (e) {
    connect.open();
  };
  </script>
</body>
</html>

{% endblock content %}
